In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("https://github.com/YBI-Foundation/Dataset/raw/main/Concrete%20Compressive%20Strength.csv")

In [3]:
df.head()

,Cement (kg in a m^3 mixture),Blast Furnace Slag (kg in a m^3 mixture),Fly Ash (kg in a m^3 mixture),Water (kg in a m^3 mixture),Superplasticizer (kg in a m^3 mixture),Coarse Aggregate (kg in a m^3 mixture),Fine Aggregate (kg in a m^3 mixture),Age (day),"Concrete Compressive Strength(MPa, megapascals)"
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Cement (kg in a m^3 mixture)                      1030 non-null   float64
 1   Blast Furnace Slag (kg in a m^3 mixture)          1030 non-null   float64
 2   Fly Ash (kg in a m^3 mixture)                     1030 non-null   float64
 3   Water (kg in a m^3 mixture)                       1030 non-null   float64
 4   Superplasticizer (kg in a m^3 mixture)            1030 non-null   float64
 5   Coarse Aggregate (kg in a m^3 mixture)            1030 non-null   float64
 6   Fine Aggregate (kg in a m^3 mixture)              1030 non-null   float64
 7   Age (day)                                         1030 non-null   int64
 8   Concrete Compressive Strength(MPa, megapascals)   1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [6]:
df.describe()

,Cement (kg in a m^3 mixture),Blast Furnace Slag (kg in a m^3 mixture),Fly Ash (kg in a m^3 mixture),Water (kg in a m^3 mixture),Superplasticizer (kg in a m^3 mixture),Coarse Aggregate (kg in a m^3 mixture),Fine Aggregate (kg in a m^3 mixture),Age (day),"Concrete Compressive Strength(MPa, megapascals)"
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.165631,73.895485,54.187136,181.566359,6.203112,972.918592,773.578883,45.662136,35.817836
std,104.507142,86.279104,63.996469,21.355567,5.973492,77.753818,80.175427,63.169912,16.705679
min,102.000000,0.000000,0.000000,121.750000,0.000000,801.000000,594.000000,1.000000,2.331808
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.707115
50%,272.900000,22.000000,0.000000,185.000000,6.350000,968.000000,779.510000,28.000000,34.442774
75%,350.000000,142.950000,118.270000,192.000000,10.160000,1029.400000,824.000000,56.000000,46.136287
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.599225

In [8]:
df.columns

Index(['Cement (kg in a m^3 mixture)',
       'Blast Furnace Slag (kg in a m^3 mixture)',
       'Fly Ash (kg in a m^3 mixture)', 'Water (kg in a m^3 mixture)',
       'Superplasticizer (kg in a m^3 mixture)',
       'Coarse Aggregate (kg in a m^3 mixture)',
       'Fine Aggregate (kg in a m^3 mixture)', 'Age (day)',
       'Concrete Compressive Strength(MPa, megapascals) '],
      dtype='object')

In [14]:
y=df['Concrete Compressive Strength(MPa, megapascals) ']
x=df[['Cement (kg in a m^3 mixture)',
       'Blast Furnace Slag (kg in a m^3 mixture)',
       'Fly Ash (kg in a m^3 mixture)', 'Water (kg in a m^3 mixture)',
       'Superplasticizer (kg in a m^3 mixture)',
       'Coarse Aggregate (kg in a m^3 mixture)',
       'Fine Aggregate (kg in a m^3 mixture)', 'Age (day)']]

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=2529)

In [40]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [41]:
lr.fit(x_train,y_train)

LinearRegression()

In [18]:
y_pred=lr.predict(x_test)

In [19]:
y_pred

array([32.99694603, 28.57828354, 50.30914486, 30.73258504, 60.53286045,
       36.29044583, 18.07328169, 26.34475418, 31.4584012 , 46.02701549,
       26.30200215, 22.13719982, 59.39113984, 43.51257335, 18.35645304,
       51.22723648, 35.97675605, 22.63123231, 30.38433027, 30.8555825 ,
       27.5656498 , 31.73908359, 35.87924802, 30.79885881, 31.7935016 ,
       30.96970104, 44.21350906, 41.79544153, 72.87705385, 37.6125067 ,
       38.92527646, 50.68726454, 14.25031549, 61.07884101, 50.97074241,
       40.73610163, 28.20531086, 25.82149429, 41.93695714, 36.08076322,
       67.15181673, 21.28419205, 50.97074241, 34.02512001, 34.31957844,
       23.5772003 , 27.55925468, 62.49657943, 61.27423272, 36.09392805,
       32.66833765, 39.62292354, 24.39563033, 53.48993948, 31.97140076,
       48.4410096 , 44.34976489, 23.99023834, 50.42481057, 54.65141437,
       27.91620935, 48.43533272, 56.98728585, 50.45699675, 36.12691445,
       32.97557137, 53.02185332, 16.52258886, 25.07620614, 20.54568478,
       49.57286814, 21.29307364, 35.9541124 , 43.46171348, 69.92045714,
       28.10365901, 51.1412675 , 71.15947471, 34.78558833, 66.73262537,
       41.83542567, 47.45377101, 19.75784603, 33.81376011, 17.89407571,
       40.02254609, 49.76494074, 50.87561103, 37.09320484, 59.22966842,
       30.90770582, 39.89682469, 72.5775726 , 28.37391777, 48.24796943,
       49.93152683, 47.41037971, 16.07358282, 26.194102  , 34.22859413,
       33.94657696, 54.26090098, 34.08113821, 30.09118568, 47.96751667,
       47.58448899, 61.31777654, 32.52621315, 39.81508062, 39.99733173,
       56.35631681, 18.0525258 , 45.73816801, 53.39106624, 24.00582294,
       50.29512005, 24.04048804, 19.9340676 , 17.98273517, 22.36549186,
       24.16358709, 23.75548921, 31.5571089 , 37.02939009, 46.18595425,
       39.96728535, 59.80724673, 24.93195362, 40.15175391, 33.88229448,
       32.53069484, 27.25922239, 53.66667552, 61.98408788, 35.2032018 ,
       48.97358314, 40.04628065, 23.55099696, 30.07129071, 32.36705017,
       59.95253642, 17.03446449, 31.59121642, 57.85643485, 50.62752184,
       51.14924825, 38.86553327, 22.17407272, 61.25847416, 24.29565184,
       34.93724866, 53.66790711, 61.75940123, 37.15917887, 48.40563485,
       21.17433162, 30.90247557, 41.58960103, 27.72547055, 23.2153623 ,
       26.97019067, 28.65048729, 46.56904473, 48.66267281, 53.14540645,
       35.14945783, 18.04955202, 32.62862426, 43.68753397, 26.76190733,
       30.919276  , 27.42690968, 19.21350774, 37.46330626, 23.44893788,
       48.02755766, 58.3560193 , 54.91331823, 23.49483454, 26.41334201,
       11.25681371, 31.45894609, 48.17269831, 28.72563442, 66.28418828,
       16.34498304, 29.15562793, 57.26412672, 35.7143661 , 34.25239589,
       46.796742  , 34.72496503, 21.61985938, 22.51024397, 26.71921804,
       10.45069223, 40.50253497, 67.11351559, 50.97074241, 16.50377565,
       35.29497911, 36.94708154, 28.88370376, 41.77811669, 30.9824988 ,
       32.30142383, 28.54300019, 58.50953784, 50.3064587 , 36.47645916,
       36.61790093, 19.44003512, 61.7522688 , 25.10239879, 50.63550259,
       32.6716437 , 33.48861234, 20.61953353, 22.72099109, 31.03289733,
       23.61643142, 41.05557203, 27.43876857, 53.07411905, 43.61407076,
       48.07492174, 27.37348143, 16.62584069, 54.73113196, 45.46221389,
       65.77044263, 70.55747868, 25.57537163, 19.29195242, 34.89218906,
       30.19867335, 47.513812  , 29.28693484, 21.82577592, 51.10609483,
       31.75517686, 31.01860192, 38.30475403, 33.21880367, 10.96443789,
       57.42829666, 32.78955449, 31.34765199, 30.06400362, 53.84641295,
       29.98559248, 55.86625245, 27.39988544, 39.71376269, 46.7107281 ,
       38.79447602, 34.34300328, 65.14081251])

In [37]:
from sklearn.metrics import mean_absolute_percentage_error

In [27]:
mean_absolute_percentage_error(y_test,y_pred)

0.3021048860592257